<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455295087970-ci564d8l81np7c80supft1jmcnnsbm9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455295087970-ci564d8l81np7c80supft1jmcnnsbm9g</string>
	<key>API_KEY</key>
	<string>AIzaSyCUrEU03eBslV1xnk-3uJ3ScoiG6FRD9lQ</string>
	<key>GCM_SENDER_ID</key>
	<string>455295087970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookListProject</string>
	<key>PROJECT_ID</key>
	<string>book-list-project-f6872</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-project-f6872.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455295087970:ios:49e063267bff36d5a2683b</string>
</dict>
</plist>